<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>About Me</strong></h1>
        <p class="text-secondary">Hello my name is Nathan Kim and I am a junior here at Del Norte. My interests for the future is computer science, which is why I took this class. </p>
        Here is my schedule for this trimester!
    
        <table>
            <tr>
              <th>Per 1</th>
              <th>Per 2</th>
              <th>Per 3</th>
              <th>Per 4</th>
              <th>Per 5</th>
            </tr>
            <tr>
              <td>APEL</td>
              <td>US History 1</td>
              <td>AP Physics Mech</td>
              <td>AP CSP</td>
              <td>AP Calc AB</td>
            </tr>
          </table>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
